/* Light blue background */
.root {
  -fx-background-color: #ADD8E6;
}

/* Big black font */
.root * {
  -fx-font-size: 20px;
  -fx-text-fill: black;
}

/* Rounded edges */
.root {
  -fx-background-radius: 20px;
}

/* Dark blue buttons */
.button {
  -fx-background-color: #000080;
  -fx-text-fill: white;
}

/* Light violet HBox */
.hbox {
  -fx-background-color: #E6E6FA;
}

/* White VBox */
.vbox {
  -fx-background-color: white;
}
