.dark-background{
    -fx-background-color: #222222;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}
.bottom{
    -fx-background-color: #1C90E4;
    -fx-background-radius: 50;
}
.gardient{
    -fx-background-color: linear-gradient(to top,#676767,transparent);
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,8,0,0.2),10,0,8,10);
}